@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

*{
    font-family: 'Belanosima', sans-serif !important;
    /* overflow-x: hidden; */
}
html{
    scroll-behavior: smooth;
  
}
@keyframes floating {
    0% {
        transform: scale(2);
        opacity: 1;
      }
      50% {
        transform: scale(2.5);
        opacity: 0.8;
      }
      100% {
        transform: scale(2);
        opacity: 1;
      }
    }
  
  .floating-element {
    animation: floating 2s ease-in-out infinite;
  }
  
  ::-webkit-scrollbar{
    width: 3px;
  }

  ::-webkit-scrollbar-thumb{
    background:#9D00FF;
  }
  .hover , .hover1 , .hover2 , .hover3{
      transition: all 0.5s ease-out;
  }
  .hover:hover{
   color: #9D00FF!important;
  }
  .hover2:hover{
    border-color: #9D00FF;
  }
  .hover1:hover {background-color: #9D00FF!important;}

  .hover3:hover{
    background-color: #9D00FF!important;
    cursor: pointer;
  }
  .hover1{
    animation:blink 2s ease-in-out infinite;
  }
  @keyframes blink{
    0% {
       background-color: #494949;
   
      }
      50% {
       background-color: #9D00FF;
      
      }
      100% {
      background-color: #494949;
     
      }
    }
    
    input{
      font-size: 20px;
      color: #494949;
    }
    :-ms-input-placeholder{
      color: #494949!important;
      padding: 0 0.2em;
      opacity: 0.7;
    }

    textarea::placeholder {
      color: #494949;
      padding: 0.2em 0.2em;
    }
    textarea{
      font-size: 20px;
      color: #494949;
    }
    
    
.carousel-item{
  padding: 0 1.5em;
}

@media(max-width:450px){
  .ft{
    width: 300px;
    position: absolute;
    top: 50%!important;
  }
  .meta{
    position: absolute;
    left: 5%!important;
    top: 6%!important;
  }
}

.float {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
    background-color: aliceblue;
  }
  50% {
    transform: translateY(-10px);
    background-color: #9D00FF;
  }
  100% {
    transform: translateY(0);
  }
}

